/* RESETS */
button,
p,
h1,
h2 {
	padding: 0;
	margin: 0;
}

dialog {
	border: none;
	padding: 0;
}

dialog::backdrop {
	background-color: rgb(var(--scrim) / 60%);
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	border: none;
	cursor: pointer;
}

img {
	display: block;
	margin: none;
}

/* ====== */
:root {
	font-family:
		"Enriqueta", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	color: rgb(var(--on-surface));

	/* ---- Elevation styles ---- */
	--elevation-1:
		0px 1px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.08);
	--elevation-2:
		0px 2px 4px rgba(0, 0, 0, 0.12), 0px 3px 6px rgba(0, 0, 0, 0.08);
	--elevation-3:
		0px 4px 8px rgba(0, 0, 0, 0.12), 0px 6px 12px rgba(0, 0, 0, 0.08);
	--elevation-4:
		0px 6px 12px rgba(0, 0, 0, 0.14), 0px 10px 16px rgba(0, 0, 0, 0.1);
	--elevation-5:
		0px 8px 16px rgba(0, 0, 0, 0.16), 0px 14px 20px rgba(0, 0, 0, 0.12);
}

body {
	transition: background-image 5s ease;
}

.edit-location-fab,
.convert-temp-fab {
	position: fixed;
	z-index: 2;
	right: 1rem;
	bottom: 1rem;

	padding: 0.5rem;
	border-radius: 0.5rem;
	box-shadow: var(--elevation-3);
	background-color: rgb(var(--primary));
	color: rgb(var(--on-primary));
}

.edit-location-fab:hover {
	background-color: hsl(from rgb(var(--primary)) h s 30%);
	box-shadow: var(--elevation-4);
	scale: 1.05;
}

.convert-temp-fab {
	font-weight: bold;
	width: 2.5rem;
	height: 2.5rem;
	bottom: 4rem;
	background-color: rgb(var(--primary-container));
	color: rgb(var(--on-primary-container));
	border: 2px solid rgb(var(--on-primary-container));
	box-shadow: var(--elevation-2);
}

.convert-temp-fab:hover {
	color: hsl(from rgb(var(--on-primary-container)) h s 30%);
	border: 2px solid hsl(from rgb(var(--on-primary-container)) h s 30%);
	box-shadow: var(--elevation-4);
	scale: 1.05;
}

main {
	margin: 2rem 1rem;
}

.glassmorphism-bg {
	--border-width: 1px;
	position: relative;

	background: rgb(var(--surface-container) / 0.25);
	backdrop-filter: blur(1rem);
}

.glassmorphism-bg::before {
	content: "";
	position: absolute;
	z-index: -1;
	inset: 0;
	border-radius: inherit;
	border: var(--border-width) solid transparent;
	background: linear-gradient(
			rgb(var(--surface-container) / 0.25),
			rgb(var(--surface-container) / 0.5)
		)
		border-box;
	mask:
		linear-gradient(black, black) border-box,
		linear-gradient(black, black) padding-box;
	mask-composite: subtract;
}

.weather-data-card {
	padding: 1rem;
	/* background-color: rgb(var(--surface-container));
	box-shadow: var(--elevation-1); */
	border-radius: 1rem;
}

.weather-data-card > .date-selection {
	display: flex;
	justify-content: space-between;
}

.arrow-button {
	background-color: rgb(var(--primary));
	color: rgb(var(--on-primary));
	border-radius: 0.25rem;
}

.arrow-button:hover {
	background-color: hsl(from rgb(var(--primary)) h s 30%);
	scale: 1.05;
}

.weather-data-card > .heading-subtitle {
	text-align: center;
}

.heading-subtitle {
	margin: 1.5rem 0;
}

.heading-subtitle > h1 {
	color: rgb(var(--primary));
}

.heading-subtitle > p {
	color: rgb(var(--secondary));
	font-weight: bold;
	font-size: 0.75rem;
}

.weather-data-card > .data {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.5rem;
}

.data .material-symbols-outlined {
	color: rgb(var(--primary-container));
}

.data > .badge,
.data > .card {
	background-color: rgb(var(--primary) / 0.6);
	border: 0.25rem solid rgb(var(--primary));
	color: rgb(var(--on-primary));
	display: flex;
	justify-self: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
}

.badge {
	border-radius: 50%;
	width: 94px;
	height: 94px;
}

.data > .card {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0;
	padding: 0.25rem;
}

.card {
	border-radius: 0.5rem;
	grid-column: span 3;
	width: 100%;
}

.card > h2 {
	grid-column: span 3;
	margin: 0.25rem 0;
	text-align: center;
}

.card > p {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.25rem;
	margin: 0.75rem 0;
	padding: 0 0.75rem;
}

.card > p:not(:last-child) {
	border-right: 1px solid rgb(var(--on-primary));
}

.data > .badge > p,
.data > .card > p > span:first-child {
	font-size: 1.5rem;
	text-align: center;
}

.data > .card > p > span:last-child {
	font-size: 0.75rem;
}

.data > .badge > h2,
.data .material-symbols-outlined {
	display: flex;
	font-size: 0.75rem;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
}

.data > .card > h2 {
	font-size: 1.25rem;
}

.weather-data-card > .long-description {
	margin: 1.75rem 0 1rem 0;
	text-align: center;
	font-size: 0.75rem;
}

.weather-data-card > .generated-gif-image {
	width: 86%;
	height: 380px;
	border-radius: 0.25rem;
	margin: 0 auto;
}

.skeleton-loader > p,
.skeleton-loader h1,
.skeleton-loader h1 + p,
.skeleton-loader .badge > p,
.skeleton-loader .card span,
.skeleton-loader > img {
	opacity: 0.5;
	background-color: rgb(var(--outline));
	color: rgb(var(--outline));
	border-radius: 0.25rem;
	animation: skeleton-loading 1s linear infinite alternate;
}

footer {
	width: 100%;
	margin-top: 2rem;
	background-color: rgb(var(--secondary));
	color: rgb(var(--on-secondary));
	box-shadow: var(--elevation-3);
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer > a {
	width: 100dvw;
	display: flex;
	gap: 0.25rem;
	align-items: center;
	justify-content: center;
}

footer > a > svg {
	fill: rgb(var(--on-secondary));
	width: auto;
	height: 1.5rem;
}

dialog.edit-location-modal {
	background-color: rgb(var(--primary-container));
	color: rgb(var(--on-primary-container));
	box-shadow: var(--elevation-3);
	border-radius: 0.25rem;
	width: 80%;
	padding: 1rem;
}

.edit-location-modal > .close-btn {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	background-color: rgb(var(--primary-container));
	color: rgb(var(--primary));
}

.close-btn:hover {
	color: rgb(var(--error));
}

.close-btn:disabled {
	display: none;
	color: rgb(var(--outline));
}

.edit-location-modal > form {
	margin-top: 0.25rem;
	display: flex;
	gap: 0.25rem;
}

.edit-location-modal .confirm-location-btn {
	background-color: rgb(var(--primary));
	color: rgb(var(--on-primary));
	border-radius: 0.25rem;
	cursor: pointer;
	font-size: 1rem;
	padding: 0.25rem;
}

.confirm-location-btn:hover {
	background-color: hsl(from rgb(var(--primary)) h s 30%);
	scale: 1.05;
}

/* SKELETON LOADER ANIMATION KEYFRAME */
@keyframes skeleton-loading {
	0% {
		background-color: rgb(var(--outline-variant));
		color: rgb(var(--outline-variant));
	}

	100% {
		background-color: rgb(var(--outline));
		color: rgb(var(--outline));
	}
}

@media (width >= 40rem) {
	.weather-data-card {
		width: 80dvw;
		padding: 1.5rem 1.25rem;
	}

	body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	dialog.edit-location-modal {
		width: 60dvw;
		padding: 1.5rem 1rem;
	}

	.data > .badge {
		width: 120px;
		height: 120px;
	}

	.edit-location-modal > form > input {
		width: 100%;
		padding: 0.25rem;
	}

	.edit-location-modal > form > .confirm-location-btn {
		padding: 0.5rem;
	}

	.weather-data-card > .generated-gif-image {
		margin: 0 auto;
	}

	.data > .badge:first-of-type {
		justify-self: right;
	}

	.data > .badge:nth-of-type(3) {
		justify-self: left;
	}
}

@media (width >= 48rem) {
	.weather-data-card {
		width: 70dvw;
	}
}

@media (width >= 64rem) {
	.weather-data-card {
		width: 50dvw;
	}

	dialog.edit-location-modal {
		width: 40dvw;
	}

	.data > .badge {
		width: 130px;
		height: 130px;
	}

	.heading-subtitle > h1 {
		font-size: 2.25rem;
	}

	.heading-subtitle > p {
		font-size: 1rem;
	}

	.data > .badge > h2 span {
		font-size: 1rem;
	}

	.data > .badge > p {
		font-size: 2rem;
	}
}

@media (width >= 80rem) {
	.date-selection {
		font-size: 1.25rem;
	}

	.weather-data-card > .long-description {
		font-size: 1rem;
	}

	.data > .badge {
		width: 150px;
		height: 150px;
	}

	.heading-subtitle > h1 {
		font-size: 2.5rem;
	}

	.heading-subtitle > p {
		font-size: 1rem;
	}

	.data > .badge > h2 span {
		font-size: 1.25rem;
	}

	.data > .badge > p {
		font-size: 2.25rem;
	}

	.data > .card > h2 {
		font-size: 1.5rem;
	}

	.data > .card > p span:first-child {
		font-size: 1.75rem;
	}

	.data > .card > p span:last-child {
		font-size: 1rem;
	}

	footer {
		height: fit-content;
		padding: 1.25rem 0;
	}

	footer > a {
		font-size: 1.25rem;
	}
}

@media (width >= 96rem) {
	.weather-data-card {
		width: 40dvw;
		padding: 2rem;
	}

	dialog.edit-location-modal {
		width: 30dvw;
	}

	.date-selection {
		font-size: 1.5rem;
	}
}
