/* RESETS */
button,
p,
h1,
h2 {
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	border: none;
	cursor: pointer;
}

/* ====== */
:root {
	font-family: "Enriqueta", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	color: rgb(var(--on-surface));

	/* ---- Elevation styles ---- */
	--elevation-1: 0px 1px 2px rgba(0, 0, 0, 0.12),
		0px 1px 3px rgba(0, 0, 0, 0.08);
	--elevation-2: 0px 2px 4px rgba(0, 0, 0, 0.12),
		0px 3px 6px rgba(0, 0, 0, 0.08);
	--elevation-3: 0px 4px 8px rgba(0, 0, 0, 0.12),
		0px 6px 12px rgba(0, 0, 0, 0.08);
	--elevation-4: 0px 6px 12px rgba(0, 0, 0, 0.14),
		0px 10px 16px rgba(0, 0, 0, 0.1);
	--elevation-5: 0px 8px 16px rgba(0, 0, 0, 0.16),
		0px 14px 20px rgba(0, 0, 0, 0.12);
}

body {
	/* height: 100dvh; */
	place-content: center;
}

.edit-location-fab {
	position: fixed;
	right: 1rem;
	bottom: 1rem;

	padding: 0.5rem;
	border-radius: 0.5rem;
	box-shadow: var(--elevation-3);
	background-color: rgb(var(--primary));
	color: rgb(var(--on-primary));
}

main {
	margin: 2rem 1rem;
}

.weather-data-card {
	padding: 1rem;
	background-color: rgb(var(--surface-container));
	box-shadow: var(--elevation-1);
	border-radius: 1rem;
}

.weather-data-card > .date-selection {
	display: flex;
	justify-content: space-between;
}

.arrow-button {
	background-color: rgb(var(--primary));
	color: rgb(var(--on-primary));
	border-radius: 0.25rem;
}

.weather-data-card > .heading-subtitle {
	text-align: center;
}

.heading-subtitle {
	margin: 1.5rem 0;
}

.heading-subtitle > h1 {
	color: rgb(var(--primary));
}

.heading-subtitle > p {
	color: rgb(var(--outline));
	font-weight: bold;
	font-size: 0.75rem;
}

.weather-data-card > .data {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.5rem;
}

.data .material-symbols-outlined {
	color: rgb(var(--primary-container));
}

.data > .badge,
.data > .card {
	background-color: rgb(var(--primary) / 0.6);
	border: 0.25rem solid rgb(var(--primary));
	color: rgb(var(--on-primary));
	display: flex;
	justify-self: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
}

.badge {
	border-radius: 50%;
	width: 94px;
	height: 94px;
}

.data > .card {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0;
	padding: 0.25rem;
}

.card {
	border-radius: 0.5rem;
	grid-column: span 3;
	width: 100%;
}

.card > h2 {
	grid-column: span 3;
	margin: 0.25rem 0;
	text-align: center;
}

.card > p {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.25rem;
	margin: 0.75rem 0;
	padding: 0 0.75rem;
}

.card > p:not(:last-child) {
	border-right: 1px solid rgb(var(--on-primary));
}

.data > .badge > p,
.data > .card > p > span:first-child {
	font-size: 1.5rem;
	text-align: center;
}

.data > .card > p > span:last-child {
	font-size: 0.75rem;
}

.data > .badge > h2,
.data .material-symbols-outlined {
	display: flex;
	font-size: 0.75rem;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
}

.data > .card > h2 {
	font-size: 1.25rem;
}

.weather-data-card > .long-description {
	margin: 1.75rem 0 1rem 0;
	text-align: center;
	font-size: 0.75rem;
}

.weather-data-card > .generated-gif-image {
	width: 100%;
	height: auto;
}

footer {
	margin-top: 2rem;
	background-color: rgb(var(--secondary));
	color: rgb(var(--on-secondary));
	box-shadow: var(--elevation-3);
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer > a {
	display: flex;
	gap: 0.25rem;
	align-items: center;
}

footer > a > svg {
	fill: rgb(var(--on-secondary));
	width: auto;
	height: 1.5rem;
}
