.clear-day {
	--primary: 136 81 29;
	--surface-tint: 136 81 29;
	--on-primary: 255 255 255;
	--primary-container: 255 220 194;
	--on-primary-container: 108 58 5;
	--secondary: 116 89 68;
	--on-secondary: 255 255 255;
	--secondary-container: 255 220 194;
	--on-secondary-container: 90 66 46;
	--tertiary: 92 98 55;
	--on-tertiary: 255 255 255;
	--tertiary-container: 224 231 177;
	--on-tertiary-container: 68 74 34;
	--error: 186 26 26;
	--on-error: 255 255 255;
	--error-container: 255 218 214;
	--on-error-container: 147 0 10;
	--background: 255 248 245;
	--on-background: 34 26 20;
	--surface: 255 248 245;
	--on-surface: 34 26 20;
	--surface-variant: 243 223 210;
	--on-surface-variant: 81 68 59;
	--outline: 132 116 105;
	--outline-variant: 214 195 182;
	--shadow: 0 0 0;
	--scrim: 0 0 0;
	--inverse-surface: 56 47 40;
	--inverse-on-surface: 254 238 228;
	--inverse-primary: 255 183 123;
	--primary-fixed: 255 220 194;
	--on-primary-fixed: 46 21 0;
	--primary-fixed-dim: 255 183 123;
	--on-primary-fixed-variant: 108 58 5;
	--secondary-fixed: 255 220 194;
	--on-secondary-fixed: 42 23 7;
	--secondary-fixed-dim: 227 192 166;
	--on-secondary-fixed-variant: 90 66 46;
	--tertiary-fixed: 224 231 177;
	--on-tertiary-fixed: 25 30 0;
	--tertiary-fixed-dim: 196 203 151;
	--on-tertiary-fixed-variant: 68 74 34;
	--surface-dim: 231 215 205;
	--surface-bright: 255 248 245;
	--surface-container-lowest: 255 255 255;
	--surface-container-low: 255 241 233;
	--surface-container: 251 235 225;
	--surface-container-high: 245 229 219;
	--surface-container-highest: 239 224 214;
}
