.clear {
	--primary: 119 90 11;
	--surface-tint: 119 90 11;
	--on-primary: 255 255 255;
	--primary-container: 255 223 157;
	--on-primary-container: 91 67 0;
	--secondary: 107 93 63;
	--on-secondary: 255 255 255;
	--secondary-container: 245 224 187;
	--on-secondary-container: 82 69 42;
	--tertiary: 74 101 71;
	--on-tertiary: 255 255 255;
	--tertiary-container: 204 235 196;
	--on-tertiary-container: 51 77 49;
	--error: 186 26 26;
	--on-error: 255 255 255;
	--error-container: 255 218 214;
	--on-error-container: 147 0 10;
	--background: 255 248 242;
	--on-background: 31 27 19;
	--surface: 255 248 242;
	--on-surface: 31 27 19;
	--surface-variant: 237 225 207;
	--on-surface-variant: 77 70 57;
	--outline: 127 118 103;
	--outline-variant: 208 197 180;
	--shadow: 0 0 0;
	--scrim: 0 0 0;
	--inverse-surface: 53 48 39;
	--inverse-on-surface: 249 239 226;
	--inverse-primary: 233 193 108;
	--primary-fixed: 255 223 157;
	--on-primary-fixed: 37 26 0;
	--primary-fixed-dim: 233 193 108;
	--on-primary-fixed-variant: 91 67 0;
	--secondary-fixed: 245 224 187;
	--on-secondary-fixed: 36 26 4;
	--secondary-fixed-dim: 216 196 160;
	--on-secondary-fixed-variant: 82 69 42;
	--tertiary-fixed: 204 235 196;
	--on-tertiary-fixed: 7 33 9;
	--tertiary-fixed-dim: 176 207 170;
	--on-tertiary-fixed-variant: 51 77 49;
	--surface-dim: 226 217 204;
	--surface-bright: 255 248 242;
	--surface-container-lowest: 255 255 255;
	--surface-container-low: 252 242 229;
	--surface-container: 246 236 223;
	--surface-container-high: 241 231 217;
	--surface-container-highest: 235 225 212;
}
