.clear-dark {
	--primary: 255 183 123;
	--surface-tint: 255 183 123;
	--on-primary: 77 39 0;
	--primary-container: 108 58 5;
	--on-primary-container: 255 220 194;
	--secondary: 227 192 166;
	--on-secondary: 65 44 25;
	--secondary-container: 90 66 46;
	--on-secondary-container: 255 220 194;
	--tertiary: 196 203 151;
	--on-tertiary: 46 51 13;
	--tertiary-container: 68 74 34;
	--on-tertiary-container: 224 231 177;
	--error: 255 180 171;
	--on-error: 105 0 5;
	--error-container: 147 0 10;
	--on-error-container: 255 218 214;
	--background: 25 18 12;
	--on-background: 239 224 214;
	--surface: 25 18 12;
	--on-surface: 239 224 214;
	--surface-variant: 81 68 59;
	--on-surface-variant: 214 195 182;
	--outline: 158 142 130;
	--outline-variant: 81 68 59;
	--shadow: 0 0 0;
	--scrim: 0 0 0;
	--inverse-surface: 239 224 214;
	--inverse-on-surface: 56 47 40;
	--inverse-primary: 136 81 29;
	--primary-fixed: 255 220 194;
	--on-primary-fixed: 46 21 0;
	--primary-fixed-dim: 255 183 123;
	--on-primary-fixed-variant: 108 58 5;
	--secondary-fixed: 255 220 194;
	--on-secondary-fixed: 42 23 7;
	--secondary-fixed-dim: 227 192 166;
	--on-secondary-fixed-variant: 90 66 46;
	--tertiary-fixed: 224 231 177;
	--on-tertiary-fixed: 25 30 0;
	--tertiary-fixed-dim: 196 203 151;
	--on-tertiary-fixed-variant: 68 74 34;
	--surface-dim: 25 18 12;
	--surface-bright: 65 55 49;
	--surface-container-lowest: 20 13 8;
	--surface-container-low: 34 26 20;
	--surface-container: 38 30 24;
	--surface-container-high: 49 40 34;
	--surface-container-highest: 60 51 44;
}
