.foggy {
	--primary: 0 104 116;
	--surface-tint: 0 104 116;
	--on-primary: 255 255 255;
	--primary-container: 158 239 253;
	--on-primary-container: 0 79 88;
	--secondary: 74 98 103;
	--on-secondary: 255 255 255;
	--secondary-container: 205 231 236;
	--on-secondary-container: 51 75 79;
	--tertiary: 82 94 125;
	--on-tertiary: 255 255 255;
	--tertiary-container: 218 226 255;
	--on-tertiary-container: 59 70 100;
	--error: 186 26 26;
	--on-error: 255 255 255;
	--error-container: 255 218 214;
	--on-error-container: 147 0 10;
	--background: 245 250 251;
	--on-background: 23 29 30;
	--surface: 245 250 251;
	--on-surface: 23 29 30;
	--surface-variant: 219 228 230;
	--on-surface-variant: 63 72 74;
	--outline: 111 121 122;
	--outline-variant: 191 200 202;
	--shadow: 0 0 0;
	--scrim: 0 0 0;
	--inverse-surface: 43 49 51;
	--inverse-on-surface: 236 242 243;
	--inverse-primary: 130 211 224;
	--primary-fixed: 158 239 253;
	--on-primary-fixed: 0 31 36;
	--primary-fixed-dim: 130 211 224;
	--on-primary-fixed-variant: 0 79 88;
	--secondary-fixed: 205 231 236;
	--on-secondary-fixed: 5 31 35;
	--secondary-fixed-dim: 177 203 208;
	--on-secondary-fixed-variant: 51 75 79;
	--tertiary-fixed: 218 226 255;
	--on-tertiary-fixed: 14 27 55;
	--tertiary-fixed-dim: 186 198 234;
	--on-tertiary-fixed-variant: 59 70 100;
	--surface-dim: 213 219 220;
	--surface-bright: 245 250 251;
	--surface-container-lowest: 255 255 255;
	--surface-container-low: 239 245 246;
	--surface-container: 233 239 240;
	--surface-container-high: 227 233 234;
	--surface-container-highest: 222 227 229;
}
