.light {
	--primary: rgb(109 94 15);
	--surface-tint: rgb(109 94 15);
	--on-primary: rgb(255 255 255);
	--primary-container: rgb(248 226 135);
	--on-primary-container: rgb(83 70 0);
	--secondary: rgb(102 94 64);
	--on-secondary: rgb(255 255 255);
	--secondary-container: rgb(238 226 188);
	--on-secondary-container: rgb(78 71 42);
	--tertiary: rgb(67 102 78);
	--on-tertiary: rgb(255 255 255);
	--tertiary-container: rgb(197 236 206);
	--on-tertiary-container: rgb(44 78 56);
	--error: rgb(186 26 26);
	--on-error: rgb(255 255 255);
	--error-container: rgb(255 218 214);
	--on-error-container: rgb(147 0 10);
	--background: rgb(255 249 238);
	--on-background: rgb(30 27 19);
	--surface: rgb(255 249 238);
	--on-surface: rgb(30 27 19);
	--surface-variant: rgb(234 226 208);
	--on-surface-variant: rgb(75 71 57);
	--outline: rgb(124 119 103);
	--outline-variant: rgb(205 198 180);
	--shadow: rgb(0 0 0);
	--scrim: rgb(0 0 0);
	--inverse-surface: rgb(51 48 39);
	--inverse-on-surface: rgb(247 240 226);
	--inverse-primary: rgb(219 198 110);
	--primary-fixed: rgb(248 226 135);
	--on-primary-fixed: rgb(34 27 0);
	--primary-fixed-dim: rgb(219 198 110);
	--on-primary-fixed-variant: rgb(83 70 0);
	--secondary-fixed: rgb(238 226 188);
	--on-secondary-fixed: rgb(33 27 4);
	--secondary-fixed-dim: rgb(209 198 161);
	--on-secondary-fixed-variant: rgb(78 71 42);
	--tertiary-fixed: rgb(197 236 206);
	--on-tertiary-fixed: rgb(0 33 15);
	--tertiary-fixed-dim: rgb(169 208 179);
	--on-tertiary-fixed-variant: rgb(44 78 56);
	--surface-dim: rgb(224 217 204);
	--surface-bright: rgb(255 249 238);
	--surface-container-lowest: rgb(255 255 255);
	--surface-container-low: rgb(250 243 229);
	--surface-container: rgb(244 237 223);
	--surface-container-high: rgb(238 232 218);
	--surface-container-highest: rgb(232 226 212);
}
