.rainy {
	--primary: 41 99 138;
	--surface-tint: 41 99 138;
	--on-primary: 255 255 255;
	--primary-container: 203 230 255;
	--on-primary-container: 1 75 113;
	--secondary: 80 96 111;
	--on-secondary: 255 255 255;
	--secondary-container: 212 228 246;
	--on-secondary-container: 57 72 86;
	--tertiary: 102 88 123;
	--on-tertiary: 255 255 255;
	--tertiary-container: 236 220 255;
	--on-tertiary-container: 77 65 98;
	--error: 186 26 26;
	--on-error: 255 255 255;
	--error-container: 255 218 214;
	--on-error-container: 147 0 10;
	--background: 247 249 255;
	--on-background: 24 28 32;
	--surface: 247 249 255;
	--on-surface: 24 28 32;
	--surface-variant: 222 227 234;
	--on-surface-variant: 65 71 77;
	--outline: 114 120 126;
	--outline-variant: 193 199 206;
	--shadow: 0 0 0;
	--scrim: 0 0 0;
	--inverse-surface: 45 49 53;
	--inverse-on-surface: 238 241 246;
	--inverse-primary: 151 204 249;
	--primary-fixed: 203 230 255;
	--on-primary-fixed: 0 30 48;
	--primary-fixed-dim: 151 204 249;
	--on-primary-fixed-variant: 1 75 113;
	--secondary-fixed: 212 228 246;
	--on-secondary-fixed: 13 29 41;
	--secondary-fixed-dim: 184 200 217;
	--on-secondary-fixed-variant: 57 72 86;
	--tertiary-fixed: 236 220 255;
	--on-tertiary-fixed: 33 22 52;
	--tertiary-fixed-dim: 208 191 232;
	--on-tertiary-fixed-variant: 77 65 98;
	--surface-dim: 215 218 223;
	--surface-bright: 247 249 255;
	--surface-container-lowest: 255 255 255;
	--surface-container-low: 241 244 249;
	--surface-container: 235 238 243;
	--surface-container-high: 229 232 237;
	--surface-container-highest: 224 227 232;
}
