.snowy {
	--primary: 24 101 132;
	--surface-tint: 24 101 132;
	--on-primary: 255 255 255;
	--primary-container: 193 232 255;
	--on-primary-container: 0 77 103;
	--secondary: 78 97 108;
	--on-secondary: 255 255 255;
	--secondary-container: 209 230 243;
	--on-secondary-container: 54 73 84;
	--tertiary: 95 90 125;
	--on-tertiary: 255 255 255;
	--tertiary-container: 229 222 255;
	--on-tertiary-container: 71 67 100;
	--error: 186 26 26;
	--on-error: 255 255 255;
	--error-container: 255 218 214;
	--on-error-container: 147 0 10;
	--background: 246 250 254;
	--on-background: 23 28 31;
	--surface: 246 250 254;
	--on-surface: 23 28 31;
	--surface-variant: 220 227 233;
	--on-surface-variant: 64 72 77;
	--outline: 113 120 125;
	--outline-variant: 192 199 205;
	--shadow: 0 0 0;
	--scrim: 0 0 0;
	--inverse-surface: 44 49 52;
	--inverse-on-surface: 237 241 245;
	--inverse-primary: 142 207 242;
	--primary-fixed: 193 232 255;
	--on-primary-fixed: 0 30 43;
	--primary-fixed-dim: 142 207 242;
	--on-primary-fixed-variant: 0 77 103;
	--secondary-fixed: 209 230 243;
	--on-secondary-fixed: 9 30 40;
	--secondary-fixed-dim: 181 201 215;
	--on-secondary-fixed-variant: 54 73 84;
	--tertiary-fixed: 229 222 255;
	--on-tertiary-fixed: 27 23 54;
	--tertiary-fixed-dim: 200 194 234;
	--on-tertiary-fixed-variant: 71 67 100;
	--surface-dim: 214 218 222;
	--surface-bright: 246 250 254;
	--surface-container-lowest: 255 255 255;
	--surface-container-low: 240 244 248;
	--surface-container: 234 238 242;
	--surface-container-high: 229 233 237;
	--surface-container-highest: 223 227 231;
}
