.windy {
	--primary: 0 105 112;
	--surface-tint: 0 105 112;
	--on-primary: 255 255 255;
	--primary-container: 157 240 248;
	--on-primary-container: 0 79 85;
	--secondary: 74 99 101;
	--on-secondary: 255 255 255;
	--secondary-container: 204 232 234;
	--on-secondary-container: 50 75 77;
	--tertiary: 80 94 125;
	--on-tertiary: 255 255 255;
	--tertiary-container: 215 226 255;
	--on-tertiary-container: 56 71 100;
	--error: 186 26 26;
	--on-error: 255 255 255;
	--error-container: 255 218 214;
	--on-error-container: 147 0 10;
	--background: 244 250 251;
	--on-background: 22 29 29;
	--surface: 244 250 251;
	--on-surface: 22 29 29;
	--surface-variant: 218 228 229;
	--on-surface-variant: 63 72 73;
	--outline: 111 121 122;
	--outline-variant: 190 200 201;
	--shadow: 0 0 0;
	--scrim: 0 0 0;
	--inverse-surface: 43 50 50;
	--inverse-on-surface: 236 242 242;
	--inverse-primary: 128 212 220;
	--primary-fixed: 157 240 248;
	--on-primary-fixed: 0 32 34;
	--primary-fixed-dim: 128 212 220;
	--on-primary-fixed-variant: 0 79 85;
	--secondary-fixed: 204 232 234;
	--on-secondary-fixed: 5 31 33;
	--secondary-fixed-dim: 177 203 206;
	--on-secondary-fixed-variant: 50 75 77;
	--tertiary-fixed: 215 226 255;
	--on-tertiary-fixed: 10 27 54;
	--tertiary-fixed-dim: 183 199 234;
	--on-tertiary-fixed-variant: 56 71 100;
	--surface-dim: 213 219 220;
	--surface-bright: 244 250 251;
	--surface-container-lowest: 255 255 255;
	--surface-container-low: 239 245 245;
	--surface-container: 233 239 239;
	--surface-container-high: 227 233 234;
	--surface-container-highest: 222 228 228;
}
